<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<!-- ==========================================================	-->
<!--	Created by Devit Schizoper                          	-->
<!--	Created HomePages http://LoadFoo.starzonewebhost.com   	-->
<!--	Created Day 01.12.2006                              	-->
<!-- ========================================================== -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="author" content="" />
	<meta name="description" content="Site description" />
	<meta name="keywords" content="key, words" />
	<title>Central de compras Txiripas</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<script type="text/javascript" src="/static/js/textsizer.js"></script>
	<script type="text/javascript" src="/static/js/rel.js"></script>
	{% block extrahead %} {%endblock%}
</head>
<body>
<div id="wrap">
<div id="top">
<h2>Central de compras Txiripas</h2>
<div id="menu">
	{% block menu %}
	{% endblock %}

</div>
</div>
<div id="content">
<div style="float: right;"><a href="javascript:ts('body',1)">[+]</a> | <a
href="javascript:ts('body',-1)">[-]</a></div>
<div id="left">
{%block avisos %} {% endblock %}
{%block left %}{% endblock %}
</div>
<div id="right">
{% if user.is_authenticated %}
	<p>Bienvenido <strong> {{ user.username }} </strong></p>
	<p><a href="pedido">Hacer pedido online </a></p>
	<p><a href="logout">Logout </a></p>
{% else %}
	<img class="foto" src="/static/img/qvmt.jpg">
{% endif %}

</div>
<div id="clear"></div></div>
<div id="footer">
<p>Copyright 2009 PAJERI (PAJaro En peRsIana). Designed by <a href="http://www.quevidamastriste.com" rel="external">QVMT</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="external">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer" rel="external">XHTML</a></p>
</div>
</div>

</body>