{% extends "base.html" %}

{% block menu %}
<ul>
	{% for el in secciones %}
	<li><a href="{{el}}" {% ifequal actual el %} class="current" {% endifequal %}>{{el}}</a></li>
	{% endfor %}
</ul>
{% endblock %}

{% block avisos %}
{{ avisos }}
{% endblock %}
{% block left %}
<h2>Bienvenido a la central de compras Txiripas</h2>
<p>En esta pagina usted podra:</p>
 <ul>
 <li>Darse de alta como usuario</li>
 <li>Ver nuestro catalogo de productos</li>
 <li>Comprar al mejor precio del mercado</li>
 <li>Realizar sus pedidos On-Line</li>
 <li>Y mas...</li>
 </ul>
 {% endblock %}	